# server
fastapi
uvicorn
python-multipart

# DB & ES
pymysql
sqlalchemy
elasticsearch

# crawling
selenium
beautifulsoup4
requests
webdriver_manager
lxml

# scheduler
apscheduler
psutil

# 전처리
pandas
kiwipiepy

# 머신러닝
scikit-learn

# 시각화
matplotlib